/huge-data/*
/docs/node_modules/*
.DS_Store
__pycache__/*
/analysis/data/*
*.pyc
.env
/raw-data/topic_state_500
/raw-data/mc-20171122-stemmed.txt
/docs/cloud/
/docs/front/
/docs/json/
/docs/page/front/js/
/docs/page/graph/js/
/docs/page/home/js/
/docs/page/map/js/
/docs/page/topic/js/
/docs/page/{front,graph,home,map,topic}/js/
/twistd.pid
/serv/data/
/serv/back_stdout
